<html>
	<head>
		<title>Shorten URL</title>
		<style>
			button{
				padding: 10px;
				width: 225px;
				font-size: 15;
				display: block;
			}
			#error_block{
				background-color: #f00;
				color: #fff;
				padding: 10px;
				margin: 20px;
				width: 350px;
			}
			input{
				margin: 5px;
			}
			input[type="text"]{
				padding: 10px;
				text-align: center;
				font-size: 14;
				max-width: 100%;
			}
			input[name="long_url"]{
				background-color: lightyellow;
			}
			input[name="short_url"]{
				background-color: #eee;
			}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<center>
			{% if error_msg %}
				<p id="error_block">
					<strong>{{ error_msg }}</strong>
				</p>
			{% endif %}
			<h1>Type in a URL to shorten it</h1>
			<form action="{% url 'url_service:index' %}" method="post">
				{% csrf_token %}
				<p>
					Your URL: <br />
					<input type="text" name="long_url" size="128" {% if long_url %}value="{{ long_url}}"{% endif %} />
				</p>
				<p>
					Generated short URL: <br />
					<input type="text" name="short_url" size="128" {% if short_url %}value="{{ short_url}}"{% endif %} readonly />
				</p>
				<p>
					{% if long_url and not error_msg %}
						Your URL: <b>{{ long_url|length }} characters</b>
					{% endif %}
				</p>
				<p>
					{% if short_url and not error_msg  %}
						Shortened URL: <b>{{ short_url|length }} characters</b>
					{% endif %}
				</p>
				<p>
					{% if short_url %}
						<button type="submit">Shorten again</button>
						&nbsp;&nbsp;
						<button 
							type="reset" 
							onclick="window.location.href='{% url 'url_service:index' %}'"
						>
							Clear form
						</button>
					{% else %}
						<button type="submit">Shorten URL</button>
					{% endif %}
				</p>
			</form>
			<hr style="margin-top:30px;" />
			<div>
				Source code available<br />
				on <a 
					href="https://github.com/syedrakib/shorturl-django" 
					target="_blank"
				>Github</a>.
			</div>
		</center>
	</body>
</html>